@charset "UTF-8";

body {
	margin:0;
	background-image: url(../images/background.png);
	background-repeat: repeat;
	/*　フォント指定*/
	font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	font-size:16px;
}

a {
	text-decoration: none;
}

a:link {
	color:#29672C;
}

a:visited {
	color: #602A18;
}

h2 {
   text-decoration: none;
   border-bottom: 4px solid #29672C;
   padding-bottom: 0.5px;
}

header {
	margin:auto;
}

p {
	line-height: 2em;
}

ul li {
	list-style: none;
}

footer {
	background-color: #29672C;
	color: #ffffff;
}

.wrapper {
	max-width: 1024px;
	margin: auto;
}

#logo-area {
	width: 200px;
	height: 100px;
	margin: 0 auto;
}

#header-navi {
	width: 100%;
	padding-bottom: 5%;
}

#header-navi ul {
	text-align: center;
}

#header-navi ul li {
	float: left;
	display: inline-block;
	width: 15%;
}

#header-navi ul li:hover {
   text-decoration: none;
   border-bottom: 4px solid #29672C;
   padding-bottom: 0.5px;
}

#main-area {
	clear: both;
}

.contents {
	width:40%;
	margin: 5% auto 0 auto;
}

.contents dl {
	text-align: center;
}

.contents p {
	text-align: center;
}

.contents dl dt {
	float: left;
	clear: left;
	width: 10em;
}

.contents dl dt dd {
	float: left;
	margin-left: -5em;
}

#pickup  {
	height: 512px;
	margin: 5% auto 0 auto;
}

#pickup div {
	display: inline-block;
	float: left;
	height: 256px;
	width: 25%;
}

#pickup div p {
	text-align: center;
	color: #FFFFFF;
	line-height: 256px;
}

.pickup-background-green {
	background-color: #29672C;
}

.pickup-background-green a:link {
	color:  #FFFFFF;
}

.pickup-background-green a:visited {
	color:  #FFFFFF;
}

.pickup-background-brown {
	background-color: #602A18;
}

.pickup-background-brown a:link {
	color:  #FFFFFF;
}

.pickup-background-brown a:visited {
	color:  #FFFFFF;
}


#shop-info {
	width:40%;
	margin: 5% auto 5% auto;
}

#shop-info p {
	text-align: center;
}

#shop-info ul li {
	list-style-type: none;
	vertical-align:middle;
}

#shop-info ul li:before {
	content: '';
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 100%;
	background: #29672C;
	position: relative;
	left: -1.5%;
}

#shop-info div {
	margin-top: 5%;
	background-color: #29672C;
	border-radius: 5px;        /* CSS3草案 */  
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */ 
	box-shadow: 2px 2px 5px 5px #000;
	-webkit-box-shadow: 1px 1px 1px 1px #000;
	-moz-box-shadow: 1px 1px 1px 1px #000;
}

#shop-info div a:link {
	color: #FFFFFF;
}

#shop-info div a:visited {
	color: #FFFFFF;
}

/* TOPへ戻る*/

#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
 
#pageTop a {
  display: block;
  z-index: 999;
  padding: 8px 0 0 8px;
  width: 64px;
  height: 64px;
}
 
#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}

/* footer*/

#footer-sns {
	width: 100%;
	text-align: center;
	margin: 0 1% 0 0;
	padding-top: 2.5%;
}

#footer-sns img {
	width: 50px;
	height: 
}

#footer-nav {
	width: 100%;
	padding-bottom: 5%;
}

#footer-nav ul {
	text-align: center;
}

#footer-nav ul li {
	float: left;
	display: inline-block;
	width: 15%;
}

#footer-nav ul li a:link {
	color: #FFFFFF;
}

#footer-nav ul li a:visited {
	color: #FFFFFF;
}

#footer-shopinfo {
	padding: 1% 15% 1% 0;
}

#footer-shopinfo ul li {
	text-align: right;
}

#footer-shopinfo ul li p {
	margin: 0;
}

.clear {
	clear: both;
}