@charset "UTF-8";

body {
    margin: 0;
    font-size: 14px;
}

body,p,h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', 'Rounded Mplus 1c', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

li {
  list-style: none;
  float: left;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

#wrapper>div:first-child {
    background-image: linear-gradient(-90deg, #93BEEC, #D993EC);
    padding:10px;
    color: #fff;
}

#wrapper h1 {
    text-align: center;
}

#wrapper p {
    text-align: center;
}

.contents {
  display: -webkit-flex;
  display: flex;
}

.image-area{
    margin: 40px 40px 0 40px;
}

.image-area a>img {
    width:  100%;
    text-align: center;
    transition: .5s;
}

.image-area a>img:hover {
    box-shadow:4px 6px 3px 0px #bbb;
    -moz-box-shadow:4px 6px 3px 0px #bbb;
    -webkit-box-shadow:4px 6px 3px 0px #bbb;
    transition: .5s;
}

.text-area {
    margin: 10px 40px 40px 40px;
}

.text-area h2,a {
  text-align: center;
  margin: 0;
}

.text-area a {
  display: block;
  margin-top: 15px;
}
