@charset "UTF-8";
/* CSS Document */


/* 共通設定　要素セレクタ */
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	margin: auto;
}

h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, th, td {
	line-height: 1.5;
	font-size: 16px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}

a {
 text-decoration: none;
	color: #5D87B7;
}

footer {
	background-color: #5D87B7;
	height: 100%;
}

svg path, polygon, rect {
	fill: #fff;
}

/* 共通設定　class,id */
#wrapper {
	max-width: 1000px;
	margin: auto;
}

.contents {
	margin: 80px;
	position: relative;
}

.circle {
	width: 70px;
	height: 70px;
	-webkit-border-radius: 50%;/* 50%でもOK */
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #5D87B7;/* 円の色 */
}

.small-circle {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;/* 50%でもOK */
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #fff;/* 円の色 */
}

.clear {
	clear: both;
}

.flex {
	display: -webkit-flex;
	display: flex;
	text-align: center;
}

/* ヘッダー上部*/
header .header-upper {
	position: relative;
}

header .header-upper ul li {
	float: left;
	margin-top: 40px;
}

header .header-upper ul li:last-child {
	position: absolute;
 right: 0%;
}

header .header-upper ul li a>img {
	width: 270px;
}

header .header-upper ul li>img {
	width: 270px;
}

/*グローバルナビーション*/
header .nav-bar div {
	width: 23.5%;
	height: 130px;
	margin: 20px 2% 40px 0;
	float: left;
	text-align: center;
	position: relative;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

header .nav-bar div:last-child {
	margin-right: 0;
}

header .nav-bar div p {
	height: 130px;
	text-align: center;
	padding-top: 5px;
}

header .nav-bar div a {
 -webkit-transition-duration: 1.5s;
 transition-duration: 1.5s;
}

header .nav-bar .circle {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 10%;
	left: 32.5%;
}

header .nav-bar div:hover {
 background-color: #5D87B7;
 -webkit-transition-duration: 0.5s;
 transition-duration: 0.5s;
}

header .nav-bar div a:hover {
 color: #FFF;
 -webkit-transition-duration: 1.5s;
 transition-duration: 1.5s;
}

header .nav-bar div .circle svg {
	position: absolute;
	top: 25%;
	left: 27%;
	width: 32px;
	height: 32px;
}

header .nav-bar div:nth-child(2) .circle svg {
	top: 19%;
	left: 22%;
	width: 40px;
	height: 40px;
}

header .nav-bar div:nth-child(3) .circle svg {
  top: 27%;
  left: 26%;
  width: 35px;
  height: 35px;
}

header .nav-bar div:nth-child(4).circle svg {
  position: absolute;
  top: 25%;
  left: 24%;
  width: 35px;
  height: 35px;
}


header .nav-bar div:hover .circle {
	-webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
    background-color: transparent;
}

header .nav-bar div .circle svg {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

/* フッター */
footer {
	background-color: #5D87B7;
}

footer div p {
	text-align: center;
	font-size: 20px;
	padding-top: 3%;
	color: #fff;
}

footer .flex div {
	width: 24%;
	padding-top: 3%;
	margin-left: 1%;
}

footer .flex div a {
	transition: 0.5s;
	color: #fff;
}

footer .flex div a:hover {
	transition: 0.5s;
	color: #C45A6F;
}

footer .flex div svg {
	width: 50px;
	height: 50px;
}

footer .contents {
	margin: 0 80px 0 80px;
}

footer .contents .hospital-info ul li {
	color: #fff;
	margin: 5px;
	text-align: right;
}

footer .contents .navigation {
	width: 50%;
	float: right;
}

footer .contents .navigation ul li {
  width: 25%;
  float: left;
  text-align: center;
  padding: 20px 0;
}

footer .contents .navigation ul li a {
	color: #fff;
}

/* 共通パーツ */
table {
	width: 100%;
}

table , td, th {
	border: 1px solid #fff;
	border-collapse: collapse;
}

td, th {
	padding: 10px;
	background: #eee;
	text-align: center;
}

th {
	background: #5D87B7;
	text-align: left;
	color: #fff;
}

/* トップページ */
#top .top-hedding h2 {
 padding-bottom: 0.5em;
 border-bottom: 3px solid #5D87B7;
 text-align: center;
 width: 100%;
 margin: 80px auto 40px auto;
}

#top .contents {
	position: relative;
}

#top .contents>p {
	position: absolute;
	top: 14%;
	left: 4%;
	z-index: 1;
	text-shadow: 1px 1px 1px #FFF;
	font-size: 20px;
}

#eyecatch {
	margin-right: 1%;
	position: relative;
}


#eyecatch>div {
	width: 700px;
	height: 400px;
}

#eyecatch>div>img {
	display: block;
	width: auto;
	max-width: 100%;
}

#reception-time {
	width: 30%;
  background-color: #eee;
}

#reception-time div:first-child {
	background-color: #5D87B7;
	padding: 6.5%;
}

#reception-time div:first-child p {
	color: #fff;
	text-align: center;
}

#reception-time div ul li {
	margin-top: 5%;
}

#reception-time div ul li:first-child {
	width: 30%;
 margin: 15% auto 0 auto;
 padding: 2%;
 background-color: #C45A6F;
	color: #fff;
}

#reception-time div ul li:nth-child(2) {
	font-size: 20px;
}

#reception-time div ul li:nth-child(3) {
	font-size: 14px;
	margin-top: 0;
}

#reception-time div ul li:nth-child(4) {
	width: 30%;
  margin: 15% auto 0 auto;
  padding: 2%;
  background-color: #17B794;
	color: #fff;
}

#reception-time div ul li:nth-child(5) {
	font-size: 20px;
}

#reception-time div ul li:last-child {
	font-size: 14px;
	margin-top: 0;
}

#date {
	margin: 30% 0;
}

#top .contents {
	margin: 5px 40px;
}

#top .flex .menu {
	width: 100%;
	margin-right: 1%;
	padding: 5%;
	position: relative;
}

#top .flex .menu p {
	color: #fff;
	font-size: 20px;
}

#top .flex .menu:first-child {
	background-color: #17B794;
	transition: 0.5s;
}

#top .flex .menu:first-child:hover {
	background-color: #179974;
	transition: 0.5s;
}

#top .flex .menu:nth-child(2) {
	background-color: #C45A6F;
	transition: 0.5s;
}

#top .flex .menu:nth-child(2):hover {
	background-color: #B2546A;
	transition: 0.5s;
}

#top .flex .menu:last-child {
	margin-right: 0;
	background-color: #DAC26F;
	transition: 0.5s;
}

#top .flex .menu:last-child:hover {
	background-color: #CCB269;
	transition: 0.5s;
}

#top .flex .menu div svg {
	width: 100px;
	height: 100px;
	margin-top: 10%;
}

/* 解決策が見つからないのでコメントアウト */
/*#top .contents .flex .menu div svg path , rect , polygon {
	fill: #fff;
}*/

/*#top path , rect , polygon {
	fill: #fff;
}*/

#top .contents .top-hedding {
	width: 80%;
	margin: 0 auto;
}

#top .contents .top-hedding .topics {
	position: relative;
	margin-top: 2%;
}

#top .contents .top-hedding .topics a {
	display: block;
	text-align: right;
	font-size: 14px;
	text-decoration: underline;
}

#top .contents .top-hedding .date {
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.5em;
	background: #5D87B7;
	color: white;
	font-size: 14px;
}

#top .contents .top-hedding .topic-detail {
	background-color: #eee;
	padding: 6% 1% 2%;
}

#top .contents .information p {
	text-align: center;
}

#top .contents .information p:first-child {
	text-align: center;
}

#top .contents .information img {
	position: relative;
	display: block;
	margin: auto;
	padding: 5%;
	width: 50%;
	z-index: 1;
}

#top .contents .information #image {
	position: relative;
}

#top .contents .information #image p {
	padding: 20%;
	font-size: 18px;
}

#top .contents .information #image div {
	color: #000;
	width: 40%;
	border-radius: 50%;
}

#top .contents .information #image #p-1 {
	background-color: #C45A6F;
	position: absolute;
	top: 15%;
	left: 0;
	color:#fff;
}

#top .contents .information #image #p-2 {
	background-color: #AB75BF;
	position: absolute;
	bottom: 15%;
	left: 0;
	color:#fff;
}

#top .contents .information #image #p-3 {
	background-color: #1863B5;
	position: absolute;
	top: 15%;
	right: 0;
	color:#fff;
}

#top .contents .information #image #p-4 {
	background-color: #5DB28A;
	position: absolute;
	bottom: 15%;
	right: 0;
	color:#fff;
}

#map_canvas {
	margin-bottom: 40px;
	height: 500px;
	width: 100%;
}

#top .contents .detail-hedding3 {
	margin: 15px auto 5px auto;
}

#top .contents .top-hedding p strong {
	font-weight: bold;
	color: #C45A6F;
}

/* 下層ページ共通*/
.main-area {
	width: 68%;
	float: right;
	margin-bottom: 20px;
	margin-left: 30px;
}

.main-area .detail-hedding1 {
	width: 100%;
	height: 70px;
	position: relative;
	background-color: #5D87B7;
	margin-bottom: 40px;
}

.detail-hedding1 {
	width: 73%%;
	height: 70px;
	float: right;
	position: relative;
	margin-bottom: 20px;
	background-color: #5D87B7;
	margin-left: 30px;
}

.detail-hedding1 img {
	fill: #5D87B7;
}

.detail-hedding1 div h1 {
	color: #fff;
	position: absolute;
	top: 21%;
	left: 5%;
	padding-left: 20px;
}

.detail-hedding1 .circle {
 position: absolute;
 left: -30px;
 top: 0px;
}

.detail-hedding1 .circle .small-circle {
 position: absolute;
 left: 5px;
 top: 5px;
}

.detail-hedding1 .circle .small-circle svg {
	position: absolute;
	top: 13px;
	left: 14px;
	width: 30px;
	height: 30px;
}

.detail-hedding1 .circle .small-circle svg path {
	fill: #5D87B7;
}

.detail-hedding2 {
	background-color: #5D87B7;
	width: 100%;
	height: 50px;
	margin: 80px auto 40px auto;
	position: relative;
	float: right;
}

.detail-hedding2 h2 {
 color: #fff;
 position: absolute;
 top: 10px;
 left: 16px;
}

.detail-hedding3 {
 color: #5D87B7;
 margin: 40px 0 40px 0;
}

/* サイドナビ */
.side-navi {
	width: 25%;
	height: auto;
}

.side-navi ul {
 padding: 0;
 position: relative;
}

.side-navi ul li {
	padding: 5px 5px 5px 20px;
	border-left: solid 6px #5D87B7;
	background: #eee;
	margin-bottom: 3px;
	line-height: 1.5;
	padding: 0.5em;
	transition: .5s;
	font-size: 14px;
}

.side-navi ul li:first-child {
	padding-left: 0;
	background-color: #5D87B7;
	color: #fff;
}

.side-navi ul li:hover {
	background-color: #d8d8d8;
	transition: .5s;
}

.side-navi ul li:first-child:hover {
	background-color: #5D87B7;
}

/* アコーディオン */
.accbox {
 margin: 2em 0;
 padding: 0;
}

.accbox label {
  display: block;
  margin: 1.5px 0;
  padding : 13px 12px;
  color: #fff;
  background: #5D87B7;
  cursor :pointer;
  transition: .5s;
}

.accbox label:before {
  content: '\f054';
  font-family: 'FontAwesome';
  padding-right: 8px;
}

.accbox label:hover {
  background :#C45A6F;
		transition: .5s;
}

.accbox input {
  display: none;
}

.accbox .accshow {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: .5s;
}

.cssacc:checked + label + .accshow {
  height: auto;
  padding: 5px;
  background: #eee;
		color: #000;
  opacity: 1;
		transition: .5s;
}

.accbox .accshow ul li {
	padding: 5px 0 5px 20px;
 list-style: inside;
}

.cssacc:checked + label:before {
  content: '\f078';
}

/* トップへ戻る */
#page-top {
	background-color: #eee;
	margin-top: 40px;
}

#page-top div {
	margin: 0 80px;
	padding: 15px;
	text-align: right;
	font-size: 14px;
}

#page-top div a {
	text-decoration: underline;
}

/* 当院について */
#about .contents .main-area img {
	width: 100%;
}

#about .contents .main-area th, td {
	text-align: left;
}

#about .contents .main-area dt {
	color: #5D87B7;
	font-weight: bold;
	margin: 15px 0 5px 0;
}

#about .contents .main-area dd ul li {
	list-style: disc;
	list-style-position: inside;
	text-indent:-1em;
	padding-left:1em;
	margin-bottom: 5px;
}

#about .contents .main-area span {
	font-style: italic;
}

#about .contents .main-area ol {
	margin-top: 20px;
	background-color: #eef9ff;
	padding: 20px;
}

#about .contents .main-area ol h3 {
	text-align: center;
	margin: 0 0 20px 0;
	color: #5D87B7;
	padding: 0.5em 0;
	border-top: solid 2px #5D87B7;
	border-bottom: solid 2px #5D87B7;
}

#about .contents .main-area ol li {
	list-style: decimal;
	list-style-position: inside;
	text-indent:-1em;
	padding-left:1em;
	margin-bottom: 10px;
}

#about .detail-hedding1 .circle .small-circle svg {
	position: absolute;
	top: 12px;
	left: 12px;
	width: 35px;
	height: 35px;
}

#about .detail-hedding1 .circle .small-circle svg path {
	fill: #5D87B7;
}

#about .flex {
	flex-direction:row;
	justify-content: space-between;
	text-align: left;
}

#about .contents .main-area p {
	margin-top:15px;
}

#about #message img {
	margin: 0 15px 0 0;
    float: left;
    width: 30%;
}

#about #message p:last-child {
	text-align: right;
	margin-top: 10px;
}

/* 診療科目紹介 */
#introduction .main-area {
	width: 100%;
	float: none;
}

#introduction .contents .main-area .detail-hedding1 .circle .small-circle svg {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 40px;
	height: 40px;
}

#introduction .contents .main-area .detail-hedding1+div {
	margin: 20px 0;
}

#introduction .flex {
	flex-direction:row;
	justify-content: space-between;
	margin-bottom: 5px;
}

#introduction .contents .main-area .flex .menu {
 width: 100%;
 margin-right: 1%;
 padding: 5%;
 position: relative;
}

#introduction .contents .main-area .menu p {
 color: #fff;
 font-size: 20px;
 text-align: center;
}

#introduction .contents .main-area .flex .menu #svg-icon {
	position: absolute;
	top: 30%;
	left: 33%;
}

#introduction .contents .main-area .flex .menu:first-child {
 background-color: #17B794;
 transition: 0.5s;
}

#introduction .contents .main-area .flex .menu:first-child:hover {
 background-color: #127F62;
 transition: 0.5s;
}

#introduction .contents .main-area .flex .menu:nth-child(2) {
 background-color: #C45A6F;
 transition: 0.5s;
}

#introduction .contents .main-area .flex .menu:nth-child(2):hover {
 background-color: #B2546A;
 transition: 0.5s;
}

#introduction .contents .main-area .flex .menu:nth-child(3) {
 background-color: #DAC26F;
 transition: 0.5s;
}

#introduction .contents .main-area .flex .menu:nth-child(3):hover {
 background-color: #CCB269;
 transition: 0.5s;
}

#introduction .contents .main-area .flex .menu:last-child {
 margin-right: 0;
 background-color: #DAC26F;
 transition: 0.5s;
}

#introduction .contents .main-area .flex .menu:last-child:hover {
 background-color: #CCB269;
 transition: 0.5s;
}

#introduction .contents .main-area .flex .menu div svg {
 width: 100px;
 height: 100px;
 margin-top: 10%;
}

#introduction .contents .main-area .flex .menu div svg polygon {
	fill: #fff;
}

#introduction .contents .main-area .flex .menu div svg line {
	stroke: #fff;
	stroke-width:30px;
}

/* 診療科目紹介-外科 */
#surgery .detail-hedding1{
	margin-bottom: 0;
}

#surgery .detail-hedding1 .circle .small-circle svg {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 40px;
	height: 40px;
}

#surgery .detail-hedding1 .circle .small-circle svg path {
	fill: #5D87B7;
}

#surgery .flex {
	flex-direction:row;
	justify-content: space-between;
	text-align: left;
}

#surgery .contents .main-area .doctor img {
	float: left;
	padding: 0 15px 10px 0;
	width:35%;
}

#surgery .contents .main-area .doctor small {
	font-size: 10px;
}

#surgery .contents .main-area .doctor h3 {
	margin-bottom: 10px;
	font-weight: bold;
}

#surgery .contents .main-area .doctor p {
	margin-bottom: 15px;
}

#surgery .contents .main-area dl {
	border-top: dotted 1px;
	margin: 20px 0 40px 0;
	padding: 15px 10px;
}

#surgery .contents .main-area dt {
	color: #C45A6F;
	font-weight: bold;
}

#surgery .contents .main-area dd ul {
	margin-top: 0;
}

#surgery .contents .main-area dd ul li {
	list-style: disc;
	list-style-position: inside;
	text-indent:-1em;
	padding-left:2em;
	margin-bottom: 5px;
}

#surgery .contents .main-area dd ul li:first-child {
	margin-top: 5px;
}

#surgery .contents .main-area dd:last-child {
	margin-top: 5px;
	padding-left: 15px;
}

/* 部門紹介 */
#department	 .detail-hedding1 .circle .small-circle svg {
	position: absolute;
	top: 15px;
	left: 14px;
	width: 33px;
	height: 33px;
}

#department .flex {
	flex-direction:row;
	justify-content: space-between;
	text-align: left;
}

#department .contents .main-area .flex div {
	width: 48%;
	margin-right: 1%;
	background-color: #5D87B7;
	position: relative;
}

#department .contents .main-area .flex div>p {
	position: absolute;
	top: 12%;
	width: 100%;
	text-align: center;
	padding: 1em 0;
	background-color: rgba(255, 255, 255, 0.50);
	font-size: 14px;
}

#department .contents .main-area .flex div img {
	width: 100%;
}

#department .contents .main-area .flex img+div {
	width: 90%!important;
	padding: 0 0 0 10px;
}

#department .contents .main-area .flex img+div span {
	text-align: center;
	font-size: 12px;
	color:#fff;
}

#department .contents .main-area .flex div div {
	width: 100%;
	margin: 1em 0;
}

#department .contents .main-area .flex div div:last-child {
	text-align: right;
}

#department .contents .main-area .flex div div a {
	color: #fff;
	text-decoration: underline;
	padding-right: 15px;
}

#department .contents .main-area .flex {
	margin-top: 20px;
}

#department .contents .main-area .flex #transparent {
	background-color: transparent;
}

/* 検診について */
#examination .detail-hedding1{
	margin-bottom: 0;
}

#examination .contents .main-area  .detail-hedding1 .circle .small-circle svg {
	position: absolute;
	top: 11px;
	left: 11px;
	width: 37px;
	height: 37px;
}

#examination .detail-hedding1 .circle .small-circle svg path, polygon {
	fill: #5D87B7;
}

#examination .flex {
	flex-direction:row;
	justify-content: space-between;
	text-align: left;
}

#examination .contents .main-area h3 {
	margin: 20px 0 10px 0;
	color: #5D87B7;
}

#examination .contents .main-area ul {
	margin-top: 20px;
}

#examination .contents .main-area ul li {
	list-style: disc;
	list-style-position: inside;
	text-indent:-1em;
	padding-left:1em;
	margin-bottom: 5px;
}

#examination .contents .main-area span {
	font-size: 16px;
	color: #5D87B7;
	padding-bottom: 5px;
}

#examination .contents .main-area span+p {
	margin-top: 15px;
}

#examination .contents .main-area dt {
	color: #b71c1c;
	font-weight: bold;
	margin: 20px 0 5px 0;
}

#examination .contents .main-area dd ul {
	margin-top: 0;
}

#examination .contents .main-area dd ul li {
	list-style: disc;
	list-style-position: inside;
	text-indent:-1em;
	padding-left:1em;
	margin-bottom: 5px;
}

#examination .contents .main-area strong ul {
	border: solid 2px #b71c1c;
	margin: 20px 0;
}

#examination .contents .main-area strong ul li {
	text-align: center;
	list-style: none;
	font-size: 20px;
	color: #b71c1c;
}

#examination .contents .main-area strong ul li:first-child {
	padding: 10px;
}

#examination .contents .main-area strong ul li:last-child {
	padding-bottom: 10px;
}

#examination .contents .main-area .am td {
	color: #C45A6F;
}

#examination .contents .main-area .am td:first-child {
	background-color: #C45A6F;
	color: #fff;
}

#examination .contents .main-area .pm td {
	color: #17B794;
}

#examination .contents .main-area .pm td:first-child {
	background-color: #17B794;
	color: #fff;
}

#examination .contents .main-area table {
	margin: 10px 0;
}

#examination .contents .main-area>h3+table>td, th {
	border: 1px solid #CFD8DC;
	border-collapse: collapse;
	text-align: center;
}

#examination .contents .main-area tr {
	text-align: center;
}

#examination .contents .main-area .am td:first-child {
	background-color: #eee;
	color: #000;
	vertical-align: middle;
}

#examination .contents .main-area .am td:nth-child(2) {
	background-color: #C45A6F;
	color: #fff;
}

/* 入院のご案内 */
#hospitalization p {
	margin-bottom: 20px;
}

#hospitalization .flex {
	flex-direction:row;
	justify-content: space-between;
	text-align: left;
}

#hospitalization .contents .main-area .detail-hedding1 .circle .small-circle svg {
	position: absolute;
	top: 12px;
	left: 14px;
	width: 33px;
	height: 33px;
}

#hospitalization .contents .main-area .list-style li {
	margin-bottom: 5px;
	list-style: disc;
  list-style-position: inside;
	color: #000;
	text-indent:-1em;
	padding-left:1em;
	margin-top: 5px;
}

#hospitalization .contents .main-area ul>li+.list-style li {
	color: #5D87B7;
}

#hospitalization .contents .main-area table {
	margin-top: 20px;
}

#hospitalization .contents .main-area dt {
	color: #b71c1c;
	font-weight: bold;
	margin: 20px 0 5px 0;
}

#hospitalization .contents .main-area dd>li {
	list-style: disc;
	list-style-position: inside;
	text-indent:-1em;
	padding-left:1em;
	margin-top: 5px;
}

#hospitalization .contents .main-area dl+p {
	margin: 10px 0 5px 0;
	color: #b71c1c;
}

#hospitalization .contents .main-area span {
	font-size: 14px;
	margin-bottom: 5px;
}

/* 外来のご案内 */
#outpatient .contents .main-area p {
	font-size: 14px;
}

#outpatient .contents .main-area span {
	margin-top: 20px;
}

#outpatient .contents .main-area p:first-child {
	margin-top: 20px;
}

#outpatient .contents .main-area .detail-hedding1 svg path , rect {
	fill: #5D87B7;
}

#outpatient .detail-hedding1 .circle .small-circle svg {
	position: absolute;
	top: 12px;
	left: 12px;
	width: 35px;
	height: 35px;
}

#outpatient .contents .detail-hedding2 {
	float: none;
}

#outpatient .contents .main-area .am td {
	color: #C45A6F;
}

#outpatient .contents .main-area .am td:first-child {
	background-color: #C45A6F;
	color: #fff;
}

#outpatient .contents .main-area .pm td {
	color: #17B794;
}

#outpatient .contents .main-area .pm td:first-child {
	background-color: #17B794;
	color: #fff;
}

#outpatient .contents .main-area .accshow table {
	margin: 10px 0;
}

#outpatient .contents .main-area .accshow td,th {
	border: 1px solid #CFD8DC;
	border-collapse: collapse;
	text-align: center;
}


#outpatient .contents .main-area .accshow .am td:first-child {
	background-color: #eee;
	color: #000;
	vertical-align: middle;
}

#outpatient .contents .main-area .accshow .am td:nth-child(2) {
	background-color: #C45A6F;
	color: #fff;
}

#outpatient .contents .main-area .accshow p {
	font-size: 14px;
}

#outpatient .contents .main-area .accshow strong {
	color: #b71c1c;
	font-size: 14px;
}

#outpatient .flex {
	flex-direction:row;
	justify-content: space-between;
	text-align: left;
}

/* お問い合わせ */
#contact .main-area {
	width: 100%;
}

#contact .contents .main-area .detail-hedding1 .circle .small-circle svg {
    top: 13px;
    left: 13px;
    width: 33px;
    height: 33px;
}

#contact .detail-hedding1 div h1 {
    top: 25%;
    left: 5%;
}

#contact .contents .main-area table {
	margin: 15px 0;
}

#contact .contents .main-area span {
	color: #b71c1c;
}

#contact .contents .main-area table,th,td {
	vertical-align: middle;
}

#contact .contents .main-area table,td {
	text-align: left;
}

#contact input,textarea {
	border-style:none;
	border-radius:2px;
	padding:5px;
}

#contact table+div {
	text-align: center;
}

#contact button {
	padding: 10px 30px;
	border-style: none;
	background-color: #5D87B7;
	border-radius: 5px;
	font-size: 14px;
	color: #fff;
	margin: 10px 0 0 10px;
	transition: .5s;
}

#contact button:hover {
	background-color: #C45A6F;
	color: #fff;
}